body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #252525;
    background-image: url('img/f4.png'); 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #8f888826;
    padding: 20px 0;
    border-bottom: 2px solid #ffa600;
}

h1 {
    color: #ffc400;
    font-family: 18px "Source Sans Pro", sans-serif;
    font-size: 40px;
    margin: 0;
}


#tutorial {
    background-color: #8f888826;
    color: white;
    border: 2px dashed #ffa600;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    max-width: 800px;
    font: 22.667px "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 130%;
}


.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.drop-area {
    border: 2px dashed #ffa600;
    border-radius: 60px;
    padding: 50px 200px;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #656565;
    color: white;
}

.drop-area p {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
}

.drop-area.active {
    border-color: #524f4b;
    background-color: #524f4b;
}

.file-label {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    color: #ffc400;
    font-weight: bold;
    text-align: center;
}

#xmlFile {
    display: none;
}

#analyzeButton {
    padding: 10px 20px;
    background-color: #ffc400;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#analyzeButton:hover {
    background-color: #9e7a03;
}

#deleteButton {
    padding: 10px 20px;
    background-color: #ffc400;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#deleteButton:hover {
    background-color: #9e7a03;
}

#deleteButton, #analyzeButton {
    margin: 5px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#fileNames {
    text-align: center;
    margin-bottom: 20px;
    max-width: 400px;
    text-align: center;
    color: white;
}

#fileNames p {
    text-align: center;
    margin: 5px 0;
}

.custom-alert {
    background-color: #ffc400;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    max-width: 600px;
    margin: 20px auto;
}

.logo {
    position: fixed; /* Cambiado de absolute a fixed */
    bottom: 20px; /* Cambiado de top a bottom */
    left: 20px;
    width: 300px;
    height: auto;
}


/* Estilos para pantallas con un ancho máximo de 600px */
@media only screen and (max-width: 600px) {
    
    .drop-area {
         padding: 30px 50px; /* Reducir el padding */
    }
 
    h1, .drop-area p, .file-label, #analyzeButton {
         font-size: 14px; /* Reducir el tamaño de la fuente */
    }
 }